---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p><em>{frontmatter.description}</em></p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p class="mb-5!">Written by <span class="text-red-700">{frontmatter.author}</span></p>
    <img src={frontmatter.image.url} width="100%" alt={frontmatter.image.alt} />
    <p class="text-xs!">Tags: {frontmatter.tags.join(', ')}</p>
    <slot />
</BaseLayout>
